* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    color: black;
}

a, a:hover {
    text-decoration: none;
}

.m-5 {
    margin: 5%;
}

.p-t-10 {
    padding-top: 10px;
}

.background {
    background: #000 url(/img/background.jpg) no-repeat bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    vertical-align: middle;
    margin: 0;
}

.auth-form {
    background-color: #ececec;
    opacity: 95%;
    border-radius: 3%;
}

.btn-toggle {
    border: none;
    background-color: transparent;
    color: blue;
    padding: 10px 80px;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}

.header-bar {
    height: 30px;
    background-color: black;
}

.header-bar a {
    padding: 10px;
}