label {
    color: black;
}

a, a:hover {
    text-decoration: none;
}

.m-5 {
    margin: 5%;
}

.p-t-10 {
    padding-top: 10px;
}

.background {
    background: #000 url(/img/background.jpg) no-repeat bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    vertical-align: middle;
    margin: 0;
}

.auth-form {
    background-color: #ececec;
    opacity: 95%;
    border-radius: 3%;
}

.btn-toggle {
    border: none;
    background-color: transparent;
    color: blue;
    padding: 10px 80px;
}